body{
    background-color:#665b51;
}

canvas{
    margin: 0 auto;
    display: block;
}

small{color:grey; text-transform:uppercase; position: absolute;}

#debug{

    color: lime;
    font-family: Courier;
    position: absolute;
    width: 400px;
    height: 300px;
    overflow: hidden;
    visibility: hidden;
}
#SIApp {
    width: 100%;
    height: 100%;
}

#container-fluid {
    position: relative;  /* makes this the origin of its children */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#labels {
    position: absolute;
    color: #CEA9A3;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-size: 30px;
    text-align: center;
    top: 50%;
    width: 98%;
}